# [FLIP ROBO TECHONOLGIES]

# [ASSIGNMENTS4]

NAME: BIJAY PAREEK

BATCH NO: DS2308

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

A)Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\raj\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\raj\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [4]:
pip install requests

Requirement already satisfied: requests in c:\users\raj\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\raj\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\raj\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\raj\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\raj\anaconda3\lib\site-packages (from requests) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Send an HTTP GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, "html.parser")

# Find the table that contains the data for most viewed YouTube videos
table = soup.find("table", {"class": "wikitable"})

# Create empty lists to store the details
rank_list = []
name_list = []
artist_list = []
upload_date_list = []
views_list = []

# Find and scrape the data from the table
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")
    if len(columns) >= 5:
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        artist = columns[2].text.strip()
        upload_date = columns[3].text.strip()
        views = columns[4].text.strip()

        rank_list.append(rank)
        name_list.append(name)
        artist_list.append(artist)
        upload_date_list.append(upload_date)
        views_list.append(views)

# Create a Pandas DataFrame from the scraped data
data = {
    "Rank": rank_list,
    "Name": name_list,
    "Artist": artist_list,
    "Upload Date": upload_date_list,
    "Views": views_list
}
df = pd.DataFrame(data)

# Print or manipulate the DataFrame as needed
print(df)

   Rank                                             Name  \
0    1.                            "Baby Shark Dance"[6]
1    2.                                   "Despacito"[9]
2    3.                       "Johny Johny Yes Papa"[17]
3    4.                                  "Bath Song"[18]
4    5.                               "Shape of You"[19]
5    6.                              "See You Again"[22]
6    7.                          "Wheels on the Bus"[27]
7    8.                "Phonics Song with Two Words"[28]
8    9.                                "Uptown Funk"[29]
9   10.  "Learning Colors – Colorful Eggs on a Farm"[30]
10  11.                              "Gangnam Style"[31]
11  12.   "Masha and the Bear – Recipe for Disaster"[36]
12  13.                             "Dame Tu Cosita"[37]
13  14.                                     "Axel F"[38]
14  15.                                      "Sugar"[39]
15  16.                             "Counting Stars"[40]
16  17.                                       "Roar"[41]
17  18.                        "Baa Baa Black Sheep"[42]
18  19.           "Waka Waka (This Time for Africa)"[43]
19  20.                                      "Sorry"[44]
20  21.                             "Lakdi Ki Kathi"[45]
21  22.                          "Thinking Out Loud"[46]
22  23.                                 "Dark Horse"[47]
23  24.          "Humpty the train on a fruits ride"[48]
24  25.                                    "Perfect"[49]
25  26.                                 "Let Her Go"[50]
26  27.                                      "Faded"[51]
27  28.                             "Girls Like You"[52]
28  29.                      "Shree Hanuman Chalisa"[53]
29  30.                                    "Lean On"[54]

                                               Artist Upload Date  \
0         Pinkfong Baby Shark - Kids' Songs & Stories       13.48
1                                          Luis Fonsi        8.28
2   LooLoo Kids - Nursery Rhymes and Children's Songs        6.82
3                          Cocomelon - Nursery Rhymes        6.45
4                                          Ed Sheeran        6.11
5                                         Wiz Khalifa        6.05
6                          Cocomelon - Nursery Rhymes        5.62
7               ChuChu TV Nursery Rhymes & Kids Songs        5.52
8                                         Mark Ronson        5.05
9                                         Miroshka TV        4.99
10                                        officialpsy        4.92
11                                         Get Movies        4.56
12                                      Ultra Records        4.46
13                                         Crazy Frog        4.09
14                                           Maroon 5        3.95
15                                        OneRepublic        3.89
16                                         Katy Perry        3.89
17                         Cocomelon - Nursery Rhymes        3.80
18                                            Shakira        3.75
19                                      Justin Bieber        3.72
20                                       Jingle Toons        3.71
21                                         Ed Sheeran        3.67
22                                         Katy Perry        3.60
23      Kiddiestv Hindi - Nursery Rhymes & Kids Songs        3.58
24                                         Ed Sheeran        3.56
25                                          Passenger        3.53
26                                        Alan Walker        3.53
27                                           Maroon 5        3.50
28                              T-Series Bhakti Sagar        3.48
29                               Major Lazer Official        3.48

                Views
0       June 17, 2016
1    January 12, 2017
2     October 8, 2016
3         May 2, 2018
4    January 30, 2017
5       April 6, 2015
6        May 24, 2018
7       March 6, 2014
8   November 19, 2014
9   February 27, 2018
10      July 15, 2012
11   January 31, 2012
12      April 5, 2018
13      June 16, 2009
14   January 14, 2015
15       May 31, 2013
16  September 5, 2013
17      June 25, 2018
18       June 4, 2010
19   October 22, 2015
20      June 14, 2018
21    October 7, 2014
22  February 20, 2014
23   January 26, 2018
24   November 9, 2017
25      July 25, 2012
26   December 3, 2015
27       May 31, 2018
28       May 10, 2011
29     March 22, 2015

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Series

B) Place

C) Date

D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time
from selenium.webdriver.common.by import By

In [7]:
# activating the browser
driver = webdriver.Chrome()

In [8]:
# Open the search URL
driver.get("https://www.bcci.tv/")

In [9]:
cross_button=driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')
cross_button.click()

In [11]:
international_fixture=driver.find_element(By.XPATH,'//*[@id="pills-international-tab"]')

In [12]:
international_fixture.click()

In [15]:
for _ in range(100):
    driver.execute_script("window.scrollBy(0,200)")

In [17]:
#initializing list empty
Series=[]
Place=[]
Date=[]
Time=[]

In [18]:
# extracting content from website
Series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in Series_tags[0:20]:
    series=i.text
    Series.append(series)


Place_tags = driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]/span[2]')
for i in Place_tags[0:20]:
    place=i.text
    Place.append(place)
    

Date_tags = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')  
for i in Date_tags[0:20]:
    date=i.text
    Date.append(date)   
    
    
Time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')  
for i in Time_tags[0:20]:
    time_u=i.text
    Time.append(time_u)

In [19]:
# Dataframe for scrapped data
Cricket=pd.DataFrame({'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
Cricket

,Tournament,Venue,Date,Time
0,ICC MENS WORLD CUP 2023,Dharamsala,"22 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,Lucknow,"29 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Mumbai,"2 NOVEMBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,Kolkata,"5 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,Bengaluru,"12 NOVEMBER, 2023",2:00 PM IST
5,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"13 NOVEMBER, 2023",9:00 AM IST
6,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"13 NOVEMBER, 2023",9:00 AM IST
7,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"15 NOVEMBER, 2023",9:00 AM IST
8,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"15 NOVEMBER, 2023",9:00 AM IST
9,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"17 NOVEMBER, 2023",9:00 AM IST
10,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"17 NOVEMBER, 2023",9:00 AM IST
11,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"20 NOVEMBER, 2023",9:00 AM IST
12,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"20 NOVEMBER, 2023",9:00 AM IST
13,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"22 NOVEMBER, 2023",9:00 AM IST
14,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"22 NOVEMBER, 2023",9:00 AM IST
15,AUSTRALIA TOUR OF INDIA 2023-24,Visakhapatnam,"23 NOVEMBER, 2023",7:00 PM IST
16,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"24 NOVEMBER, 2023",9:00 AM IST
17,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"24 NOVEMBER, 2023",9:00 AM IST
18,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,"26 NOVEMBER, 2023",7:00 PM IST
19,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used 

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time
from selenium.webdriver.common.by import By

In [21]:
driver = webdriver.Chrome()

In [22]:
# Opening github webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [23]:
drop_down=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
drop_down.click()

In [24]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [25]:
# Clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [26]:
#initialize empty list
Title=[]
Description=[]
Count=[]
Language=[]

In [27]:
#extracting the data
Title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in  Title_tags:
    title=i.text
    Title.append(title)
Description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in  Description_tags:
    desctiption=i.text
    Description.append(desctiption)
Count_tags=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in  Count_tags[1::2]:
    count=i.text
    Count.append(count)
Language_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in  Language_tags:
    language=i.text
    Language.append(language)

In [28]:
#creating dataframe
Github=pd.DataFrame({'Title':Title[0:20],'Description':Description[0:20],
                'Contributors_count':Count[0:20],'language_used':Language[0:20]})

Github

Empty DataFrame
Columns: [Title, Description, Contributors_count, language_used]
Index: []

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\raj\anaconda3\lib\site-packages (2.28.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\raj\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\raj\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\raj\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\raj\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\raj\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: soupsieve>1.2 in c:\users\raj\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Billboard Hot 100 page
url = "https://www.billboard.com/charts/hot-100"
response = requests.get(url)

if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the list of songs
    song_list = soup.find_all("span", class_="chart-element__information")

    # Initialize lists to store data
    song_names = []
    artist_names = []
    last_week_ranks = []
    peak_ranks = []
    weeks_on_board = []

    # Extract data for each song
    for song in song_list:
        song_name = song.find("span", class_="chart-element__information__song").get_text()
        artist_name = song.find("span", class_="chart-element__information__artist").get_text()
        last_week_rank = song.find("span", class_="chart-element__information__delta__text").get_text()
        peak_rank = song.find("span", class_="chart-element__information__delta__text").find_next("span").get_text()
        weeks_on_chart = song.find("span", class_="chart-element__information__delta__text").find_next("span").find_next("span").get_text()

        song_names.append(song_name)
        artist_names.append(artist_name)
        last_week_ranks.append(last_week_rank)
        peak_ranks.append(peak_rank)
        weeks_on_board.append(weeks_on_chart)

    # Create a DataFrame from the collected data
    data = {
        'Song Name': song_names,
        'Artist Name': artist_names,
        'Last Week Rank': last_week_ranks,
        'Peak Rank': peak_ranks,
        'Weeks on Board': weeks_on_board
    }

    df = pd.DataFrame(data)

    # Print the DataFrame
    print(df)

else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

Empty DataFrame
Columns: [Song Name, Artist Name, Last Week Rank, Peak Rank, Weeks on Board]
Index: []

6. Scrape the details of Highest selling novels.

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

from selenium.webdriver.common.by import By

In [32]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [33]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [34]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [35]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings
F) Votes

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time
from selenium.webdriver.common.by import By

In [37]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [38]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [39]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [40]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})

IMDB_TV

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,214,059"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,693"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,678"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,686"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,632"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,971"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,035"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,973"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,124"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,582"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

 Note: - from the home page you have to go to the Show All Dataset page through code

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the UCI Machine Learning Repository homepage
url = "https://archive.ics.uci.edu/"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the link to the "View All Data Sets" page
    all_datasets_link = soup.find("a", href="ml/datasets.php")
    if all_datasets_link:
        all_datasets_url = url + all_datasets_link.get("href")

        # Send a GET request to the "View All Data Sets" page
        all_datasets_response = requests.get(all_datasets_url)

        if all_datasets_response.status_code == 200:
            all_datasets_soup = BeautifulSoup(all_datasets_response.content, "html.parser")

            # Find the table containing the dataset details
            dataset_table = all_datasets_soup.find("table", class_="table")

            # Initialize lists to store data
            dataset_names = []
            data_types = []
            tasks = []
            attribute_types = []
            num_instances = []
            num_attributes = []
            years = []

            # Extract data for each dataset
            for row in dataset_table.find_all("tr")[1:]:
                columns = row.find_all("td")
                if len(columns) == 9:
                    dataset_names.append(columns[0].get_text().strip())
                    data_types.append(columns[1].get_text().strip())
                    tasks.append(columns[2].get_text().strip())
                    attribute_types.append(columns[3].get_text().strip())
                    num_instances.append(columns[4].get_text().strip())
                    num_attributes.append(columns[5].get_text().strip())
                    years.append(columns[8].get_text().strip())

            # Create a DataFrame from the collected data
            data = {
                'Dataset Name': dataset_names,
                'Data Type': data_types,
                'Task': tasks,
                'Attribute Type': attribute_types,
                'No of Instances': num_instances,
                'No of Attributes': num_attributes,
                'Year': years
            }

            df = pd.DataFrame(data)

            # Print the DataFrame
            print(df)

        else:
            print("Failed to retrieve the 'View All Data Sets' page. Status code:", all_datasets_response.status_code)
    else:
        print("No link found to 'View All Data Sets' page on the homepage.")
else:
    print("Failed to retrieve the UCI Machine Learning Repository homepage. Status code:", response.status_code)

No link found to 'View All Data Sets' page on the homepage.